*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333333;
  --heading-color: #444444;
}

/* Dark mode styles */
[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
  --heading-color: #dddddd;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  color: var(--heading-color);
}